In [57]:
li = ['abc', 23, 4.34, 23]

In [58]:
li[1] = 45

In [59]:
li

['abc', 45, 4.34, 23]

In [62]:
t = (23, 'abc', 4.56, (2,3), 'def')

In [66]:
t[2] = 3.14

TypeError: 'tuple' object does not support item assignment

In [68]:
t = (23, 'abc', 3.14, (2,3), 'def')

In [69]:
li = [1, 11, 3, 4, 5]

In [71]:
li.append('a') # Note the method syntax

In [72]:
li

[1, 11, 3, 4, 5, 'a']

In [74]:
li.insert(2, 'i')

In [75]:
li

[1, 11, 'i', 3, 4, 5, 'a']

In [76]:
li.extend([9, 8, 7])

In [77]:
li

[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7]

In [78]:
li.append([10, 11, 12])

In [79]:
li

[1, 11, 'i', 3, 4, 5, 'a', 9, 8, 7, [10, 11, 12]]

In [81]:
li = ['a', 'b', 'c', 'b']

In [82]:
li.index('b') # index of first occurrence*

1

In [84]:
li.count('b') # number of occurrences

2

In [85]:
li.remove('b') # remove first occurrence

In [86]:
li

['a', 'c', 'b']

In [87]:
li = [5, 2, 6, 8]

In [88]:
li.reverse() # reverse the list *in place*

In [89]:
li

[8, 6, 2, 5]

In [90]:
li.sort() # sort the list *in place*

In [91]:
li

[2, 5, 6, 8]

In [92]:
li = list(tu)

In [93]:
tu = tuple(li)