In [320]:
tu = (23, 'abc', 4.56, (2,3), 'def')

In [321]:
print(tu)

(23, 'abc', 4.56, (2, 3), 'def')

In [322]:
li = ["abc", 34, 4.34, 23]

In [323]:
print(li)

['abc', 34, 4.34, 23]

In [324]:
st = "Hello World"
st = 'Hello World'
st = """This is a multi-linestring that uses triple quotes."""

In [325]:
print(st)

This is a multi-linestring that uses triple quotes.

In [326]:
tu = (23, 'abc', 4.56, (2,3), 'def')
tu[1] # Second item in the tuple.

'abc'

In [327]:
li = ["abc", 34, 4.34, 23]
li[1] # Second item in the list.

34

In [328]:
st = "Hello World"
st[1] # Second character in string.

'e'

In [329]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1]

'abc'

In [330]:
t[-3]

4.56

In [331]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[1:4]

('abc', 4.56, (2, 3))

In [332]:
t[1:-1]

('abc', 4.56, (2, 3))

In [333]:
t[1:-1:2]

('abc', (2, 3))

In [334]:
t = (23, 'abc', 4.56, (2,3), 'def')
t[:2]

(23, 'abc')

In [335]:
t[2:]

(4.56, (2, 3), 'def')

In [336]:
t[:]

(23, 'abc', 4.56, (2, 3), 'def')

In [337]:
t = [1, 2, 4, 5]
3 in t

False

In [338]:
4 in t

True

In [339]:
4 not in t

False

In [340]:
a = 'abcde'
'c' in a

True

In [341]:
'cd' in a

True

In [342]:
'ac' in a

False

In [343]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [344]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [345]:
"Hello" + "" + "World"

'HelloWorld'